html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
    position: relative;
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none !important;
}

#result {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-wrap {
    display: flex;
}

.box {
    width: 40px;
    border: 2px solid #c69966;
    display: flex;
    color: #b8a890;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: transparent;
}